.page.theme_light {
  --tittle-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --main-background-color: #fff1f7;
  --main-text-color: #353430;
  --par-title-color: #353430;
  --hover-button-color: rgb(50, 49, 45, 0.4);
  background-image: url('../images/cover-image-light.png');
}

.page.theme_light .decoration-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page.theme_auto {
    --tittle-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --main-background-color: #fff1f7;
    --main-text-color: #353430;
    --par-title-color: #353430;
    --hover-button-color: rgb(50, 49, 45, 0.4);
    background-image: url('../images/cover-image-light.png');
  }

  .page.theme_auto .decoration-text {
    display: none;
  }
} 
