/* Переменные для вашего проекта и их переопределение под различные устройства */

/* Пример переменных */
:root {
  --primary-color: #4caf50;
  --secondary-color: #f44336;
  --font-family: 'IBM Plex Mono', sans-serif;
}
